* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #bbb9b4;
    color: #111111;
    margin: 20px;
}

header h1 {
    color: #2a5243;
}

form {
    background-color: rgba(2, 41, 13, 0.719);
    border: 1px solid #041100;
    padding: 15px;
    max-width: 300px;
    margin-bottom: 30px;
}

form label {
    display: block;
    color: aliceblue;
    margin-top: 10px;
    font-size: 14px;
}

form input,
form select {
    width: 100%;
    padding: 6px;
    margin-top: 3px;
    border: 1px solid #ccc;
}

form button {
    margin-top: 15px;
    padding: 8px 12px;
    background-color: #663700a9;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #2a453b;
}

section {
    margin-bottom: 25px;
}

section h2 {
    border-bottom: 2px solid #3b5d50;
    padding-bottom: 5px;
}

.livro {
    background-color: white;
    border: 1px solid #ccc;
    border-left: 4px solid #c9932b;
    padding: 10px;
    margin-bottom: 10px;
}

.livro h3 {
    margin: 0 0 5px 0;
}

.livro-acoes button {
    color: red;
    background: none;
    border: none;
    cursor: pointer;
}